body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar{
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
}

.sidebar-logo{
    place-self: center center;
}

.sidebar ul{
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li{
    padding: 15px;
    margin-bottom: 20px;
}

.main-content{
    background-color: grey;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 2 / 3;
}

.main-grid{
    background-color: yellow;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 13fr;
}

.main-grid-real{
    background-color: rgb(27, 202, 100);
    grid-row: 2 / 3;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.main-grid-carta{
    background-color: blueviolet;
}

.main-side{
    background-color: orange;
    grid-column: 2 / 3;
}

.header{
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
}

.header-top li{
    display: inline;
    padding: 5px;
}

.header-searchbar input{
    width: 80%;
}

.header-bottom{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.header-saludo{
    grid-column: 1 / 2;
    background-color: red;
}

.header-buttons{
    grid-column: 3 / 4;
    background-color: yellow;
}