body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
}

.sidebar{
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
}

.sidebar-logo{
    place-self: center center;
}

.sidebar ul{
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li{
    padding: 15px;
}

.main-content{
    background-color: grey;
    grid-column: 2 / 3;
}

.header{
    background-color: green;
    grid-column: 2 / 3;
    display: grid;
}

.header-top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
}

.header-top li{
    display: inline;
    padding: 5px;
}

.header-searchbar input{
    width: 80%;
}

.header-bottom{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.header-saludo{
    grid-column: 1 / 2;
    background-color: red;
}

.header-buttons{
    grid-column: 3 / 4;
    background-color: yellow;
}